name: Build and release Falconieri

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
      - name: Install dependencies
        run: go get
      - name: Build Falconieri
        run: go build
      - name: Upload Falconieri binary
        uses: actions/upload-artifact@v5.0.0
        with:
          name: falconieri
          path: ./falconieri
  release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    needs: build
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v6.0.0
        id: download
        with:
          name: 'falconieri'
      - name: Release Falconieri
        uses: softprops/action-gh-release@v1
        with:
          files: ${{steps.download.outputs.download-path}}/falconieri
